<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quizard | Your code is {{ code }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
</head>
<body>
<nav class="navbar is-primary" role="navigation" aria-label="main navigation" style="height: 6rem !important">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="logo"
                 style="width:5rem; height:5rem; !important">
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>
            <a class="navbar-item" href="/create">
                Create a Quiz Room
            </a>
            <a class="navbar-item" href="/join">
                Join a Quiz
            </a>
        </div>
    </div>
</nav>
<div class="control m-6">
    <h1 class="title">Join code for Quizard Room</h1>
    <h1 class="title is-1">{{ code }}</h1>
</div>
</body>
</html>